.CountDownTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.CountDownTimerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;

}

.CountDownTimerStartButton,
.CountDownTimerPauseButton,
.CountDownTimerResetButton {

    margin-right: 5%;
}