.PomodoroNavbar {
    background-color: #666A86;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
    border-right: 2px solid #40435E;
    padding-right: 5px;

    color: white;
}

.nav-link {
    font-size: x-large;
}

.navbar-brand {
    border-left: 2px solid #40435E;
    padding-left: 5px;
    font-size: xx-large;
}

.navbar-light .nav-link:hover {
    color: #ddd;
    /* Lighter shade for hover, adjust as needed */
}