.TaskItemLeft {
    display: flex;
    flex-direction: column;
    border-right: 1px dotted black;
    width: 177px;
    align-items: center;
}



.TaskItem {
    display: grid;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #E8DDB5;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.5);
    margin-bottom: 10px;
}

.TaskItemName {
    grid-column: 1;
    grid-row: 1;

}

.TaskItemPomodoros {
    grid-column: 2;
    grid-row: 1;


}

.TaskItemForm {
    grid-column: 1;
    grid-row: 2;

}