.TaskApp {
    display: flex;
    justify-content: space-around;
    /* Spacing out the items */
    flex-wrap: wrap;
    /* Allows items to wrap onto the next line */
    align-items: vertically;
}

/* Styles CountdownTimer */
.CountdownTimer {
    flex-basis: 48%;
    /* Each takes almost half the width, allowing for some margin */
    margin: 1%;
    /* Optional: for spacing around items */
}

.TaskColumn {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    flex-basis: 48%;
    /* Adjust width as needed */
    margin: 1%;
    /* Optional: for spacing around items */
    margin-top: 5%;


}

.TaskList {
    width: 100%
}

@media (max-width: 800px) {

    .TaskColumn,
    .CountdownTimer {
        flex-basis: 100%;
        margin-top: 1%;
        /* Adjusted margin-top for smaller screens */
    }

    .CountdownTimer {
        /* Set CountdownTimer to appear first on smaller screens */
        order: 1;

    }

    .TaskColumn {
        /* Ensure TaskColumn follows CountdownTimer on smaller screens */
        order: 2;
        margin-right: 45px;

    }
}